
@media screen and (min-width: 750px) {
    .Park{
        display: grid;
        grid-template-columns: 2fr 4fr 2fr;
    }
    .ParkPage {
        grid-column: 2/3;
        display: flex;
        margin: 10px 23vw;    
    }
}
@media screen and (max-width: 750px) {
    .Park {
        display: flex;
        flex-direction: column;
    }
    .ParkPage {
        grid-column: 2/3;
        display: flex;
        margin: 10px;    
    }
}
.ParkPage {
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: rgba(236, 236, 236, 0.624);
    border-radius: 10px;
}
.parkImage {
    width: 30vw;
}
.bottomSection{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.parkActivities {
    border-radius: 10px;
    margin:10px;
    padding: 10px;
    background: rgba(236, 236, 236, 0.624);
}