.Profile {
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
}

.topSection {
    display: flex, 
}
.bottomSection {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
}