.Profile {
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
}

.topSection {
    display: flex, 
}

@media screen and (min-width: 750px) {
    .bottomSection {
        flex-wrap:wrap;
        flex-direction: row;
        display: flex;
    }   
    }
    @media screen and (max-width: 750px) {
        .bottomSection{
        display: flex;
        flex-direction: column;
    }
}