
/* Header Styles */
header {
    background: rgba(100, 29, 29, 0.273);
    /* border: 2px black solid; */
  }
  header button{
    padding: 1em;
    margin: 20px 0px;
    color: black;
    text-decoration: none;
    /* height: 50px; */
    background-color: rgba(240, 255, 247, 0.767);
    border: 1px black solid;
    border-radius: 5px;
  }
  header * {
    padding: 0 5px ;
  }
  header h1 {
    font-weight: 800;
    text-align: center;
  }
  @media screen and (min-width: 750px) {
    .NavBar {
      /* border-bottom: 2px black solid; */
      display: flex;
      justify-content: space-around;
    }
  }
  
  @media screen and (max-width: 750px) {
    /* header {
      background-color: lightgrey;
    } */
    .NavBar {
      display: flex;
      text-align: center;
      justify-content: space-around;
    }
    header h1 {
      padding-top: 1rem;
      text-align: center;
    }
    header .NavBar a {
      width: 100%;
      padding: 1rem;
    }
    header .NavBar button {
      width: 80%;
      margin: 5px;
      padding: 1rem;
    }
  }