.like-button{
    width: 3rem;
    height: 2rem;
    color: black;
    font-weight: 900;
    background-color: aquamarine;
    border: 1px solid gray;
    border-radius: 5px;
    z-index: 1;
    text-align: center;
}
.liked {
    background: gray;
}

