.Search {
  margin-top: 2rem;
}.selectionForm {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 750px) {
    .Search {
      width: 50%;
    }
    .selectionForm input {
       width: 86%;
    }
    .selectionForm select {
      width: 95%;
    }
  @media screen and (max-width: 750px) {
    .Search {
      width: 95%;
    }
  }
  }
  /* .selectionForm select {
    width: 78%
  } */
  .selectionForm select, .selectionForm input, .selectionForm label { 
    margin: .5rem;
    padding: 10px;
    font-weight: 600;
    /* background: rgba(128, 128, 128, 0.222); */
    color: black;
  }

  .selectionForm {
    display: grid;
    font-weight: 500;
    grid-template-columns: 1fr 1fr;;
    background-color: rgba(44, 145, 170, 0.636);
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 5px;
  }
  .searchButton {
    background: rgba(211, 211, 211, 0.734);
    width: 50%;
    align-self: center;
    font-weight: 300;
    font-size: 3rem;
    border-radius: 10px;
    border: 1px grey solid;
    grid-column: 1/3;
    margin-left: 25%;
  }
  @media screen and (min-width: 1050px) {
    .selectionForm {
      width: auto; 
    }
    /* .searchButton {
      width: 50%;
      margin: 20px;
      height: 200px;
    } */
    
  }
  @media screen and (max-width: 1050px) {
    .selectionForm {
      grid-column: 1/3;
      margin: 3px;
      width: 100%;
    }
    .searchButton {
      grid-column: 1/3;
      margin-top: 20px;
      width: 200%;
      height: 4rem;
    }
  }
  @media screen and (max-width: 750px) {
    .selectionForm {
      margin: 0 5px;
      width: auto;
      display: flex;
      flex-direction: column;
      /* padding-left: 2rem; */
    }
    .searchButton {
      width: 50%;
      /* margin-left: 2rem; */
    }
  }