
/* Header Styles */
/* header {
    background: rgba(210, 180, 140, 0.726);
    border: 2px black solid;
  } */
  header a {
    padding: 2rem;
  }
  header * {
    padding: 0 5px ;
  }
  .NavBar {
    /* border-bottom: 2px black solid; */
    display: flex;
    justify-content: space-between;
  }
  
  header h1 {
    text-align: center;
  }
  @media screen and (max-width: 750px) {
    /* header {
      background-color: lightgrey;
    } */
    .NavBar {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
    }
    header h1 {
      grid-column: 1/3;
    }
    header a {
      padding: 1rem;
    }
  }